logs
project/project
project/target
target
tmp
.history
dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath

/RUNNING_PID
/.settings
/bin/

**/target/
**/logs/
**/.settings/
**/.project
**/.classpath
projectFilesBackup
.sbtserver/
.sbtserver/*.log
project/.sbtserver

master.log
